.tweetContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#tweet-text {
  border: none;
  font-weight: bolder;
  color: #545149;
  outline: none;
  background-color: transparent;
  border-bottom: 4px solid #545149;
  width: 100%;
  height: 41px;
}

.new-tweet {
  width: 100%;
}

#tweetButton {
  background-color: #4056a1;
  transition: box-shadow .3s;
  color: #ffffff;
  font-family: 'Bungee', cursive;
}

#tweetButton:hover {
  box-shadow: #212942 4px 4px;
}

.counter {
  font-family: 'Bungee', cursive;
}